aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==21.3.0
base58==2.1.1
bitarray==1.2.2
cachetools==4.2.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cryptography==36.0.1
cytoolz==0.11.2
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
Flask==2.0.2
frozenlist==1.2.0
futures==2.2.0
goslate==1.5.2
h11==0.12.0
hexbytes==0.2.2
idna==3.3
ipfshttpclient==0.8.0a2
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==3.2.0
lru-dict==1.1.7
MarkupSafe==2.0.1
multiaddr==0.0.9
multidict==5.2.0
netaddr==0.8.0
outcome==1.1.0
parsimonious==0.8.1
protobuf==3.19.1
pycparser==2.21
pycryptodome==3.12.0
pyOpenSSL==21.0.0
pyrsistent==0.18.0
pyTelegramBotAPI==4.3.1
python-dotenv==0.19.2
python-telegram-bot==13.10
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
requests==2.26.0
rlp==2.0.1
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
toolz==0.11.2
tornado==6.1
trio==0.19.0
trio-websocket==0.9.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
varint==1.0.2
web3==5.25.0
websockets==9.1
Werkzeug==2.0.2
wsproto==1.0.0
yarl==1.7.2
